<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/india.css">
        <link rel='stylesheet' href='/stylesheets/bs.css'>



        
    </head>


    <body>

            <header>
                    <h1>CRIME STATS - <%= state %></h1>
                    <P>Below are the <span>Crime stats</span>, <span>Police stats</span> and stats for crime <span>against Children</span> and <span>Women.</span></P>
            </header>

            <div class='wrapper'>

                <section id = 'crimeSection' class = "secHeight bShadow-8">
                    <p class = 'sectionHeading'>CRIME STATS</p>

                    <canvas id="myChart"></canvas>

                    <label for="id-select">Choose a crime:</label>


                        <select name= 'states' id='state-select'>
                                <option value="Rape">Rape</option>
        
                                <option value="Murder">Murder</option>
                                <option value="Theft">Theft</option>
                                <option value="Cheating">Cheating</option>
                `                <option value="Pooping">Pooping</option>

                        </select>

                        <canvas id="myChart2"></canvas>

                </section>

                <section id = 'policeSection' class='bShadow-8'>
                    <p class = 'sectionHeading'>POLICE STATS</p>

                    <canvas id="myChart3" class='policeCharts'></canvas>

                    <canvas id="myChart4" class='policeCharts'></canvas>

                    <canvas id="myChart5" class='policeCharts'></canvas>

                        
                </section> 


                <section class = "secHeight bShadow-8" >
                        <p class = 'sectionHeading'>CRIME AGAINST CHILDREN - STATS</p>

                    <canvas id="myChart6"></canvas>

                    <label for="id-select">Choose a crime:</label>


                        <select name= 'states' id='state-select'>
                                <option value="Rape">Rape</option>
        
                                <option value="Murder">Murder</option>
                                <option value="Theft">Theft</option>
                                <option value="Cheating">Cheating</option>
                                <option value="Pooping">Pooping</option>

                        </select>

                        <canvas id="myChart7"></canvas>
                </section>


                <section class = "secHeight bShadow-8">
                        <p class = 'sectionHeading'>CRIME AGAINST WOMEN - STATS</p>

                        <canvas id="myChart8"></canvas>

                    <label for="id-select">Choose a crime:</label>


                        <select name= 'states' id='state-select'>
                                <option value="Rape">Rape</option>
        
                                <option value="Murder">Murder</option>
                                <option value="Theft">Theft</option>
                                <option value="Cheating">Cheating</option>
                                <option value="Pooping">Pooping</option>

                        </select>

                        <canvas id="myChart9"></canvas>
                    </section>

            </div>
 


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

        <!-- <script src="/scripts/stateLogic.js"></script> -->



       <script>

    
       
        $(document).ready(function(){

            let myChart8Label = <%-JSON.stringify(arrWomenYears)%>;
            let myChart8Data = <%-JSON.stringify(arrWomenCrime)%>;

            let myChart6Label = <%-JSON.stringify(arrChildYears)%>;
            let myChart6Data = <%-JSON.stringify(arrChildCrime)%>;

            let myChartLabel = <%-JSON.stringify(arrTotalCrimeYears)%>;
            let myChartData = <%-JSON.stringify(arrTotalCrimeNo)%>; 

            let myChart4Label = <%-JSON.stringify(arrPoliceSthYears)%>;
            let myChart4Data = <%-JSON.stringify(appPoliceSthNo)%>;

            let myChart3Label = <%-JSON.stringify(arrPoliceIYears)%>;
            let myChart3Data = <%-JSON.stringify(arrPoliceINo)%>;
   

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: myChartLabel,
            datasets: [{
                label: 'Total Crimes Commited',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: myChartData
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 


    // var ctx = document.getElementById('myChart2').getContext('2d');
    // var chart = new Chart(ctx, {
    //     // The type of chart we want to create
    //     type: 'line',
    
    //     // The data for our dataset
    //     data: {
    //         labels: ['2001', '2002', '2003', '2004', '2005', '2006', '2007',  '2008',  '2009',  '2010',  '2011'],
    //         datasets: [{
    //             label: 'Total Crimes Commited',
    //             // backgroundColor: 'rgb(255, 99, 132)',
    //             borderColor: 'rgb(255, 99, 132)',
    //             data: [0, 10, 5, 2, 20, 30, 45, 3, 44, 155, 3 ]
    //         }]
    //     },
    
    //     // Configuration options go here
    //     options: {}
    // }); 


    var ctx = document.getElementById('myChart3').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: myChart3Label,
            datasets: [{
                label: 'Police Injuries and Deaths',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: myChart3Data
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 


    var ctx = document.getElementById('myChart4').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: myChart4Label,
            datasets: [{
                label: 'Strength of Police',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#3755BE',
                data: myChart4Data
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 


    var ctx = document.getElementById('myChart5').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: ['2001', '2002', '2003', '2004', '2005', '2006', '2007',  '2008',  '2009',  '2010',  '2011'],
            datasets: [{
                label: 'Number of Cases Solved',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#3755BE',
                data: [0, 10, 5, 2, 20, 30, 45, 3, 44, 155, 3 ]
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 



    var ctx = document.getElementById('myChart6').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: myChart6Label,
            datasets: [{
                label: 'Total Crimes Commited',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#3DC795',
                data: myChart6Data
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 

    var ctx = document.getElementById('myChart7').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: ['2001', '2002', '2003', '2004', '2005', '2006', '2007',  '2008',  '2009',  '2010',  '2011'],
            datasets: [{
                label: 'Total Crimes Commited',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#3DC795',
                data: [0, 10, 5, 2, 20, 30, 45, 3, 44, 155, 3 ]
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 

    var ctx = document.getElementById('myChart8').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: myChart8Label,
            datasets: [{
                label: 'Total Crimes Commited',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#FFB102',
                data: myChart8Data
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 

    var ctx = document.getElementById('myChart9').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
    
        // The data for our dataset
        data: {
            labels: ['2001', '2002', '2003', '2004', '2005', '2006', '2007',  '2008',  '2009',  '2010',  '2011'],
            datasets: [{
                label: 'Total Crimes Commited',
                // backgroundColor: 'rgb(255, 99, 132)',
                borderColor: '#FFB102',
                data: [0, 10, 5, 2, 20, 30, 45, 3, 44, 155, 3 ]
            }]
        },
    
        // Configuration options go here
        options: {}
    }); 
});
       
       </script>

        
        </body>

    </html>